{% extends 'main/base.html' %}
{% load static %}

{% block section %}
    <form action="" name="sending_form">
        <div id="sending_form" class="container">

            <div id="item_text_row" class="row">
                <div id="text_name" class="col-md-12">
                    <h1>
                        Оформлення замовлення
                    </h1>
                </div>
            </div>
            <!-- sending form start-->
            <div id="sending_form_row" class="row">

                <div class="col-md-4">
                    <div>
                        <input placeholder="Імя">
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <input placeholder="Прізвисько">
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <input placeholder="Email">
                    </div>
                </div>

            </div>
            <!-- field number -->
            <div id="sending_form_row" class="row">
                <div class="col-md-4">
                    <div>
                        <input placeholder="Телефон">
                    </div>
                </div>
                <!-- field cite -->
                <div class="col-md-4">
                    <div>
                        <input placeholder="Місто">
                    </div>
                </div>
                <!-- field adress -->
                <div class="col-md-4">
                    <div>
                        <input placeholder="Адреса замовлення">
                    </div>
                </div>
            </div>
            <!-- field comment -->
            <div id="sending_form_row" class="row">
                <div class="col-md-12 coment">
                    <div class="coment">
                        <textarea placeholder="Коментар до замовлення" name="" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <!-- sending form end-->
        </div>
        <div id="total_price" class="container">
            <div class="row">
                <div class="col p">

                    <h4>
                        Сума замовлення:
                    </h4>
                    <h3>
                        500$
                    </h3>

                </div>

                <div class="col b">
                    <button>
                        Замовити
                    </button>
                </div>
            </div>
        </div>
    
    </form>
{% endblock %}
