{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <!-- carousel start -->
        <div id="carusel_container" class="container">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2100">
                        <img src="img/baner.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2100">
                        <img src="img/baner.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2100">
                        <img src="img/baner.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Back</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- carousel end -->
        </div>

        <div class="container">
            <div id="cardAreaSmall" class="row">

                <div class="col-md-12">
                    <h1>
                        Новинки та популярне
                    </h1>
                </div>
                <!-- card Small start -->
                <div id="card1" class="col-md-3 col-sm-6">
                    <div class="cardS">
                        <div class="img">
                            <img src="img/cake.png" alt="">
                        </div>

                        <div class="text">
                            <h3>
                                Торт
                            </h3>
                            <a>
                                от 300$
                            </a>
                        </div>
                    </div>
                </div>
                <!-- card Small end -->
                <div id="card2" class="col-md-3 col-sm-6">
                    <div class="cardS">
                        <div class="img">
                            <img src="img/cake.png" alt="">
                        </div>

                        <div class="text">
                            <h3>
                                Торт
                            </h3>
                            <a>
                                от 300$
                            </a>
                        </div>
                    </div>
                </div>

                <div id="card3" class="col-md-3 col-sm-6">
                    <div class="cardS">
                        <div class="img">
                            <img src="img/cake.png" alt="">
                        </div>

                        <div class="text">
                            <h3>
                                Торт
                            </h3>
                            <a>
                                от 300$
                            </a>
                        </div>
                    </div>
                </div>

                <div id="card4" class="col-md-3 col-sm-6">
                    <div class="cardS">
                        <div class="img">
                            <img src="img/cake.png" alt="">
                        </div>

                        <div class="text">
                            <h3>
                                Торт
                            </h3>
                            <a>
                                от 300$
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div id="cardAreaBig" class="row">
                <div class="col-md-12">
                    <h1>
                        Торти
                    </h1>
                    <p>
                        01
                    </p>
                </div>
                <!-- card big start -->
                <div class="col-xl-3  col-md-4 col-sm-6">
                    <div class="card">
                        <div class="cardBig">
                            <div class="front">

                                <div class="img">
                                    <img src="img/cake.png" alt="">
                                    <h3>
                                        Торти
                                    </h3>
                                </div>

                            </div>

                            <div class="back">
                                <h3>
                                    Склад
                                </h3>
                                <p>dsdfdscsdcsd
                                    dfsdfdsfdad
                                </p>
                            </div>
                        </div>

                        <div class="areabuton">
                            <div class="text">
                                <h4>
                                    500$
                                </h4>

                                <form action="">
                                    <button>+</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- card big end -->

            </div>
        </div>

        <div class="container">
            <div id="cardAreaBig" class="row">
                <div class="col-md-12">
                    <h1>
                        Безе
                    </h1>
                    <p>
                        02
                    </p>
                </div>

                <div class="col-xl-3  col-md-4 col-sm-6">
                    <div class="card">
                        <div class="cardBig">
                            <div class="front">

                                <div class="img">
                                    <img src="img/cake.png" alt="">
                                    <h3>
                                        Торти
                                    </h3>
                                </div>

                            </div>

                            <div class="back">
                                <h3>
                                    Склад
                                </h3>
                                <p>dsdfdscsdcsd
                                    dfsdfdsfdad
                                </p>
                            </div>
                        </div>

                        <div class="areabuton">
                            <div class="text">
                                <h4>
                                    500$
                                </h4>

                                <form action="">
                                    <button>+</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="container">
            <div id="cardAreaBig" class="row">
                <div class="col-md-12">
                    <h1>
                        Капкейк
                    </h1>
                    <p>
                        03
                    </p>
                </div>

                <div class="col-xl-3  col-md-4 col-sm-6">
                    <div class="card">
                        <div class="cardBig">
                            <div class="front">

                                <div class="img">
                                    <img src="img/cake.png" alt="">
                                    <h3>
                                        Торти
                                    </h3>
                                </div>

                            </div>

                            <div class="back">
                                <h3>
                                    Склад
                                </h3>
                                <p>dsdfdscsdcsd
                                    dfsdfdsfdad
                                </p>
                            </div>
                        </div>

                        <div class="areabuton">
                            <div class="text">
                                <h4>
                                    500$
                                </h4>

                                <form action="">
                                    <button>+</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div id="cardAreaBig" class="row">
                <div class="col-md-12">
                    <h1>
                        Чизкейк
                    </h1>
                    <p>
                        04
                    </p>
                </div>

                <div class="col-xl-3  col-md-4 col-sm-6">
                    <div class="card">
                        <div class="cardBig">
                            <div class="front">

                                <div class="img">
                                    <img src="img/cake.png" alt="">
                                    <h3>
                                        Торти
                                    </h3>
                                </div>

                            </div>

                            <div class="back">
                                <h3>
                                    Склад
                                </h3>
                                <p>dsdfdscsdcsd
                                    dfsdfdsfdad
                                </p>
                            </div>
                        </div>

                        <div class="areabuton">
                            <div class="text">
                                <h4>
                                    500$
                                </h4>

                                <form action="">
                                    <button>+</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>
{% endblock %}