{% extends 'main/base.html' %}

{% block section %}
    <section class="section">
        <!-- carousel start -->
        <div id="carusel_container" class="container">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2100">
                        <img src="{{ advertisement_last.image.url }}" class="d-block w-100" alt="...">
                    </div>
                    {% for advs in advertisement %}
                        <div class="carousel-item" data-bs-interval="2100">
                            <img src="{{ advs.image.url }}" class="d-block w-100" alt="...">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Back</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- carousel end -->
        </div>


        <div class="container">
            <div id="cardAreaSmall" class="row">

                <div class="col-md-12">
                    <h1>
                        Новинки та популярне
                    </h1>
                </div>
                {% for popular in product_sort %}
                    <div id="{{ popular.slug }}" class="col-md-3 col-sm-6">
                        <div class="cardS">
                            <div class="img">
                                <img src="{{ popular.image.url }}" alt="">
                            </div>

                            <div class="text">
                                <h3>
                                    {{ popular.title }}
                                </h3>
                                <a>
                                    от {{ popular.price }}₴
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="container">
            <div id="cardAreaBig" class="row">
                <div class="col-md-12">
                    <h1>
                        Торти
                    </h1>
                    <p>
                        01
                    </p>
                </div>

                {% for item in products %}
                    {% if item.category == 'Cake' %}
                        <!-- card big start -->
                        <div class="col-xl-3  col-md-4 col-sm-6">
                            <div class="card">
                                <div class="cardBig">
                                    <div class="front">

                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                        </div>

                                    </div>

                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>{{ item.short_info }}</p>
                                    </div>
                                </div>

                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            {{ item.price }}₴
                                        </h4>

                                        <form class="cart_product" action="{% url 'cart:cart_add' item.id %}"  method="post">
                                            {{ cart_product_form }}
                                            {% csrf_token %}
                                            <button>+</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card big end -->
                    {% endif %}
                {% endfor %}

            </div>
        </div>

        <div class="container">
            <div id="cardAreaBig" class="row">
                <div class="col-md-12">
                    <h1>
                        Безе
                    </h1>
                    <p>
                        02
                    </p>
                </div>

                {% for item in products %}
                    {% if item.category == 'Marshmello' %}
                        <!-- card big start -->
                        <div class="col-xl-3  col-md-4 col-sm-6">
                            <div class="card">
                                <div class="cardBig">
                                    <div class="front">

                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                        </div>

                                    </div>

                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>{{ item.short_info }}</p>
                                    </div>
                                </div>

                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            {{ item.price }}₴
                                        </h4>

                                        <form class="cart_product" action="{% url 'cart:cart_add' item.id %}"  method="post">
                                            {{ cart_product_form }}
                                            {% csrf_token %}
                                            <button>+</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card big end -->
                    {% endif %}
                {% endfor %}

            </div>
        </div>


        <div class="container">
            <div id="cardAreaBig" class="row">
                <div class="col-md-12">
                    <h1>
                        Капкейк
                    </h1>
                    <p>
                        03
                    </p>
                </div>

                {% for item in products %}
                    {% if item.category == 'Capcake' %}
                        <!-- card big start -->
                        <div class="col-xl-3  col-md-4 col-sm-6">
                            <div class="card">
                                <div class="cardBig">
                                    <div class="front">

                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                        </div>

                                    </div>

                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>{{ item.short_info }}</p>
                                    </div>
                                </div>

                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            {{ item.price }}₴
                                        </h4>

                                        <form class="cart_product" action="{% url 'cart:cart_add' item.id %}"  method="post">
                                            {{ cart_product_form }}
                                            {% csrf_token %}
                                            <button>+</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card big end -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <div id="cardAreaBig" class="row">
                <div class="col-md-12">
                    <h1>
                        Чизкейк
                    </h1>
                    <p>
                        04
                    </p>
                </div>

                {% for item in products %}
                    {% if item.category == 'Chesscake' %}
                        <!-- card big start -->
                        <div class="col-xl-3  col-md-4 col-sm-6">
                            <div class="card">
                                <div class="cardBig">
                                    <div class="front">

                                        <div class="img">
                                            <img src="{{ item.image.url }}" alt="">
                                            <h3>
                                                {{ item.title }}
                                            </h3>
                                        </div>

                                    </div>

                                    <div class="back">
                                        <h3>
                                            Склад
                                        </h3>
                                        <p>{{ item.short_info }}</p>
                                    </div>
                                </div>

                                <div class="areabuton">
                                    <div class="text">
                                        <h4>
                                            {{ item.price }}₴
                                        </h4>

                                        <form class="cart_product" action="{% url 'cart:cart_add' item.id %}"  method="post">
                                            {{ cart_product_form }}
                                            {% csrf_token %}
                                            <button>+</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card big end -->
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>
{% endblock %}